* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    background-color: #ffffff;
    color: #222222;
    overflow-wrap: break-word;
    word-wrap: break-word;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
    line-height: 1.4em;
}

a, a:link, a:active, a:visited {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #666666;
}

img {
    display: block;
    border: 0;
    height: auto;
}

.saving {
    color: #ff5050;
    font-weight: bold;
}

.save {
    font-size: 0.6em;
}

.center {
    text-align: center;
    justify-content: center;
}

.pricenow {
    display: inline-block;
    padding: 8px;
    color: #202020;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 5px;
}

.Woolworths {
    color: green;
    background: rgb(216, 255, 216);
}

.Coles {
    color: red;
    background: rgb(255, 231, 231);
}

.pricewas {
    text-decoration: line-through;
    color: #8b8b8b;
    font-weight: normal;
}

.store {
    padding: 5px;
    margin: 0 auto 5px auto;
    opacity: 0.8;
    overflow: hidden;
    font-weight: bold;
    letter-spacing: -1px;
}

.prod-image {
    margin: 0 auto;
    height: 120px;
    max-width: 100%;
    overflow: hidden;
}

.prod-name {
    margin: 10px 0;
    height: 60px;
    overflow: hidden;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* Form elements reset */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}


button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.search-container {
    margin: 20px 0;
    width: 100%;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
}

#search-box {
    padding: 12px 30px 12px 16px;
    width: 100%;
    background: #f0f0f0;
    border: none;
    box-sizing: border-box;
}

.search-container::after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 16px;
    color: #666;
}

.select-container {
    position: relative;
    display: inline-block;
    background: linear-gradient(to bottom, #f9f9f9 0%, #e8e8e8 100%); /* Added gradient background */
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); /* Added box-shadow */
}

.select-container::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #666;
}

.select-container select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    padding: 12px 30px 12px 16px;
    border: none;
    font-size: 14px;
}

.select-container select::-ms-expand {
    display: none;
}

textarea {
    display: block;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: 12px 16px;
    overflow-wrap: normal;
    word-wrap: normal;
}

input[type="file"] {
    display: none;
}

textarea {
    margin: 10px 0;
    resize: none;
}

textarea:focus {
    outline: none;
}

.spinner {
    margin: 0 auto;
    display: none;
    border: 8px solid rgba(255, 255, 255, 0);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.v-spaced {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.h-spaced {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

/* Cards */

.card-content {
    padding: 10px;
}

.card {
    padding: 10px;
    background: white;
    margin-bottom: 2em;
    margin: 10px auto;
    flex: 1 0 calc(100% - 20px);
    max-width: 150px;
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 200px) {
    .card {
        max-width: calc(50% - 1em);
        font-size: 1em;
    }
}

@media screen and (min-width: 800px) {
    .card {
        max-width: calc(25% - 1em);
        font-size: 1.2em;
    }
}

@media print {
    #search-box {
        display: none !important;
    }
}

/* Tags */

.tag-full {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin-bottom: .5rem;
    margin-left: .25rem;
    margin-right: 0;
}

.tag-lead {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin-bottom: .5rem;
    margin-left: .25rem;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tag-tail {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    margin-bottom: .5rem;
    margin-right: .25rem;
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.is-left {
    align-items: left;
    justify-content: left;
}

.is-right {
    align-items: right;
    justify-content: right;
}

.is-center {
    align-items: center;
    justify-content: center;
}

.is-light {
    background-color: #f5f5f5;
    color: #343a40;
}

.is-blue {
    background-color: #007bff;
    color: #fff;
}

.is-green {
    background-color: #28a745;
    color: #fff;
}

.is-red {
    background-color: #dc3545;
    color: #fff;
}

.is-cyan {
    background-color: #17a2b8;
    color: #fff;
}

.is-dark {
    background-color: #343a40;
    color: #fff;
}